body {
  background-image: radial-gradient(#300E4B, #A98BC2);
}

.signup{
  color:#d6baed
}

.signup-page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
.signup-card {
    width: 50%;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    border-radius: 60px;
  }

h1 {
  font-weight: 700;
  color: #63348A;
  font-size: 50px;
  text-align: center;
}
  
.label {
  font-weight: 500;
}

.input {
  box-shadow: 0 5px rgba(0,0,0, 0.25);
}

