
.login-page-container {
  background-image: linear-gradient(to bottom right, #300E4B, #A98BC2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
  }
  
  .login-card {
    margin-top: 10%;
    width: 50%;
    padding: 24px;
    font-family: "Poppins", sans-serif;
  }

  .login{
    background-color:#51258f;
    border-bottom:#51258f;
  }


  